- content_for :js do
  :javascript
    $(document).ready(function($) {
      manage_fields();
    });

    function manage_fields()
    {
      if($('#piece_for_sale').attr('checked'))
      {
        $('#piece_price').removeAttr("disabled");
      }
      else
      {
        $('#piece_price').attr("disabled", true);
      }
    }

%p
  = f.label :name
  = f.text_field :name

%p
  = f.label :description
  %div.clear
  = f.text_area :description, :rows => 8, :cols => 70

- if f.object.permalink
  %p
    = f.label :permalink
    %span.bold= f.object.permalink
%p
  = f.label :for_sale, "For Sale?"
  = f.check_box :for_sale, :onclick => "manage_fields()", :id => "piece_for_sale"

%p
  = f.label :price
  = f.text_field :price, :size => 6, :maxlength => 6, :id => "piece_price"

%p
  = f.label :sold, "Sold?"
  = f.check_box :sold, :onclick => "manage_fields()", :id => "piece_sold"

%p
  = f.label :active, "Active?"
  = f.check_box :active

