%p
  = f.label :name
  = f.text_field :name

%p
  = f.label :description
  %div.clear
  = f.text_area :description, :rows => 15, :cols => 70

- if f.object.permalink
  %p
    = f.label :permalink
    %span.bold= f.object.permalink

%p
  = f.label :price
  = f.text_field :price, :size => 6, :maxlength => 6

%p
  = f.label :for_sale
  = f.check_box :for_sale

%p
  = f.label :active
  = f.check_box :active

