%div.post
  %h2.title= @title

  %div.entry
    - form_for lineage do |f| 
      = render :partial => 'admin/pieces/form', :locals => {:f => f}
      = f.submit "Save"

    %br 
    = render :partial => "shared/images_edit", :locals => { :imageable => @piece }

  %div.actions
    = index_entity_image(polymorphic_path([:admin, lineage.last.class.new]), "Back to all #{lineage.last.display_type(true)}")
    %br
    = show_entity_image(polymorphic_path(lineage.last), "Show this piece")
    %br
    = delete_entity_image(polymorphic_path(lineage), "Delete this piece")

