%div.post
  %h2.title Edit Piece

  %div.entry
    - form_for [:admin, @piece] do |f| 
      = render :partial => 'admin/pieces/form', :locals => {:f => f}
      = f.submit "Save Piece"

    %br 
    = render :partial => "shared/images_edit", :locals => { :imageable => @piece }

  %div.actions
    = index_entity_image(admin_pieces_path, "Back to all pieces")
    %br
    = show_entity_image(piece_path(@piece), "Show this piece")
    %br
    = delete_entity_image(admin_pieces_path(@piece), "Delete this piece")

