%div.post
  %h2.title= @title

  %div.entry
    %p
      = new_entity_image(new_polymorphic_path(lineage), "Create new #{lineage.last.display_type}")

    - if @pieces.blank?
      %h3 None here
    - else
      %table.data
        %tr
          %th Name
          %th Description
          %th Price
          %th For Sale?
          %th Sold?
          %th Active?
          %th Actions
        - @pieces.each do |piece|
          %tr{:class => cycle("odd","even")}
            %td= link_to piece.name, polymorphic_path(piece)
            %td= link_to truncate(piece.description, :length => 120, :omission => " (more..)"), polymorphic_path(piece)
            %td= number_to_currency(piece.price)
            %td= boolean_wrapper(piece.for_sale?)
            %td= boolean_wrapper(piece.sold?)
            %td= boolean_wrapper(piece.active?)
            %td{:width => 46}
              = edit_entity_image(edit_polymorphic_path([:admin, piece]))
              = delete_entity_image(polymorphic_path([:admin, piece]))
