%h2 Pieces

%p= link_to "Create new piece", new_admin_piece_path

- if @pieces.blank?
  %h3 None here
- else
  %table.data
    %tr
      %th Name
      %th Description
      %th Price
      %th For Sale?
      %th Active?
      %th Actions
    - @pieces.each do |piece| 
      %tr
        %td= h piece.name
        %td= h truncate(piece.description, :length => 120, :omission => " (more..)")
        %td= h piece.price
        %td= h piece.for_sale?
        %td= h piece.active?
        %td
          = link_to "Show", admin_piece_path(piece)
          = link_to "Edit", edit_admin_piece_path(piece)
          = button_to "Delete", admin_piece_path(piece), :method => :delete, :confirm => "Are you sure you want to delete this piece?"
