%div.post
  %h2.title 
    Edit
    = h @block.label_display

  %div.entry
    - form_for [:admin, @block] do |f| 
      %p
        = f.text_area :body, :rows => 15, :cols => 70
      
      - if f.object.accepts_image?
        %p TODO image upload

      = f.submit "Save #{@block.label_display}"

  %div.actions
    = index_entity_image(admin_blocks_path, "Back to all blocks")

