%h2 
  Edit
  = h @block.label_display

- form_for [:admin, @block] do |f| 
  %p
    = f.label :title
    = f.text_field :title

  %p
    = f.text_area :body, :rows => 15, :cols => 70
  
  = f.submit "Save #{@block.label_display}"
