%div.post
  %h2.title
    New Subategory under
    = h @category.name

  %div.entry
    - form_for [:admin, @category, @subcategory], :method => :post do |f| 
      = render :partial => 'admin/subcategories/form', :locals => {:f => f}
      = f.submit "Create"

  %div.actions
    = index_entity_image(admin_category_path(@category), "Back to all subcategories under #{@category.name}")

