%h2 Show Subategory

%h3= h @subcategory.name

%p= h @subcategory.description

%p
  permalink:
  = h @subcategory.permalink

%p
  Active:
  = @subcategory.active?

%p
  Parent Category :
  = link_to @subcategory.category.name, admin_category_path(@subcategory.category)

%h3 Forms

= render :partial => "admin/forms/forms", :object => @subcategory

