%h2 Show Subategory

%h3= h @subcategory.name

%p= h @subcategory.description

%p
  permalink:
  = h @subcategory.permalink

%p
  Active:
  = @subcategory.active?

%p
  Parent Category :
  = link_to @subcategory.category.name, admin_category_path(@subcategory.category)

%h3 Forms

%p
  = link_to "Create new form", new_admin_category_subcategory_form_path(@subcategory.category, @subcategory)

= render :partial => "admin/forms/forms", :object => @subcategory

