%div.post
  %h2.title
    Subcategory 
    = h @subcategory.name
    under
    = h @subcategory.category.name

  %div.entry
    %p= h @subcategory.description

    %p
      %label permalink
      %span.bold= h @subcategory.permalink

    %p
      %label Active:
      = @subcategory.active?

%div.post
  %h2.title
    Forms under
    = h @subcategory.name

  %div.entry
    %p
      - new_entity_image(new_admin_category_subcategory_form_path(@subcategory.category, @subcategory))
      = link_to "Create new form under #{@subcategory.name}", new_admin_category_subcategory_form_path(@subcategory.category, @subcategory)

    = render :partial => "admin/forms/forms", :object => @subcategory

  %div.actions
    - index_entity_image(admin_category_subcategories_path(@subcategory.category))
    = link_to "Back to category #{@subcategory.category.name}", admin_category_path(@subcategory.category)


