- if subcategories.subcategories.blank?
  None
- else
  %table
    %tr
      %th Name
      %th Description
      %th Active?
      %th Actions      
    - subcategories.subcategories.each |sub|
      %tr
        %tr= h sub.name
        %tr= h sub.description
        %tr= sub.active?
        %tr
          = #link_to "Show", admin_category_path(category)
          = #link_to "Edit", edit_admin_category_path(category)
          = #button_to "Delete", admin_category_path(category), :method => :delete, :confirm => "A category may only be deleted if it is empty. Are you sure you want to delete this category?"
