%div.post
  %h2.title Sculptural Pieces

  %div.entry
    %p
      = new_entity_image(new_admin_sculptural_piece_path, "Create new sculptural piece")

    - if @pieces.blank?
      %h3 None here
    - else
      %table.data
        %tr
          %th Name
          %th Description
          %th Price
          %th For Sale?
          %th Active?
          %th Actions
        - @pieces.each do |piece| 
          %tr{:class => cycle("odd","even")}
            %td= link_to piece.name, sculptural_piece_path(piece)
            %td= link_to truncate(piece.description, :length => 120, :omission => " (more..)"), sculptural_piece_path(piece)
            %td= number_to_currency(piece.price)
            %td= h piece.for_sale?
            %td= h piece.active?
            %td{:width => 46}
              = edit_entity_image(edit_admin_sculptural_piece_path(piece))
              = delete_entity_image(admin_sculptural_piece_path(piece))
