- content_for :js do
  :javascript
    $(document).ready(function($) {
      
    })

%div.post
  %h2.title Change Password

  %div.entry
    %p
      Change your password for user:
      %em= current_user.username
    %p
      = form_tag change_password_admin_sessions_path, :method => :post do
        %table
          %tr
            %td
              %label Password
            %td= password_field_tag :password
          %tr
            %td
              %label Confirm Password
            %td= password_field_tag :password_confirm
          %tr
            %td &nbsp;
            %td= submit_tag "Update"

