%div.post
  %h2.title= h @subcategory.name

  %div.entry
    %ul.menu
      - @forms.each do |form|
        %li
          = link_to form.name, category_subcategory_form_path(@category, @subcategory, form)
          = ":"
          = simple_format form.description

- if current_user
  %div.post
    %div.footer
      %p
        - if @inactive_forms.any?
          * Plus #{@inactive_forms.size} #{@inactive_forms.size == 1 ? "form that is" : "forms that are"} not active.
      %p
        = edit_entity_image(edit_admin_category_subcategory_path(@category, @subcategory), "Edit this subcategory")
        %br
        = show_entity_image(admin_category_subcategory_path(@category, @subcategory), "Show this subcategory")

