= render :partial => "forms/breadcrumbs"

%div.post
  %h2.title= h @subcategory.name

  %div.entry
    %ul.menu
      - @forms.each do |form|
        %li
          = link_to form.name, category_subcategory_form_path(@category, @subcategory, form)
          = ":"
          = h form.description

