- content_for :js do
  :javascript
    function preview_link()
    {
      if(!$("#link_url").val().match(/^http(s)?:\/\/.+/))
        alert("URL must begin with 'http://' or 'https://'");
      else
        window.open($("#link_url").val());

      return false;
    }

%p
  = f.label :title
  = f.text_field :title

%p
  = f.label :url
  = f.text_field :url, :value => (f.object.url.blank? ? "http://" : f.object.url)
  = link_to(image_tag("/images/icons/link_preview.png", :alt => "Preview") + "Preview", "#", onclick: "preview_link();", :title => "Preview")

%p
  = f.label :description
  %div.clear
  = f.text_area :description, :rows => 6, :cols => 70
