%h2 Links

%p= link_to "Create new link", new_admin_link_path

- if @links.blank?
  %h3 None here
- else
  %table.data
    %tr
      %th Title
      %th URL
      %th Description
      %th Actions
    - @links.each do |link| 
      %tr
        %td= h link.title
        %td= link_to link.url, link.url
        %td= h truncate(link.description, :length => 120, :omission => " (more..)")
        %td
          = link_to "Show", admin_link_path(link)
          = link_to "Edit", edit_admin_link_path(link)
          = button_to "Delete", admin_link_path(link), :method => :delete, :confirm => "Are you sure you want to delete this link?"
