%div.post
  %h2.title Links

  %div.entry
    %p
      = new_entity_image(new_admin_link_path, "Create new link")

    - if @links.blank?
      %h3 None here
    - else
      %table.data
        %tr
          %th Title
          %th URL
          %th Description
          %th Actions
        - @links.each do |link| 
          %tr{:class => cycle("odd","even")}
            %td= h link.title
            %td= link_to link.url, link.url
            %td= h truncate(link.description, :length => 120, :omission => " (more..)")
            %td
              = edit_entity_image(edit_admin_link_path(link))
              = delete_entity_image(admin_link_path(link))
