%ul
  %li= link_to "News Posts", admin_posts_path
  %li= link_to "Functional Pieces and Categories", admin_categories_path
  %li= link_to "Funky Functional Pieces", admin_functional_pieces_path
  %li= link_to "Sculptural Pieces", admin_sculptural_pieces_path
  %li= link_to "Blocks", admin_blocks_path
  %li= link_to "Links", admin_links_path
  %li= link_to "Logout", "/admin/logout"

