- content_for :js do
  :javascript
    $(document).ready(function($) {
      clear_upload_field();
    })

#flashes_now

- if imageable.respond_to?(:image)
  = render :partial => "shared/image_single", :locals => { :imageable => imageable }
- elsif imageable.respond_to?(:images)
  = render :partial => "shared/image_multiple", :locals => { :imageable => imageable }
- else
  - raise StandardError, "Invalid imageable #{imageable.inspect}"

#upload
  %div
    %h2 Upload Image

    = form_for :image, :url => admin_images_path, authenticity_token: true, :remote => true, :html => { :multipart => true, :target => "upload_iframe", :onsubmit => "upload_before();" } do |f|
      = f.file_field :image
      = hidden_field_tag :imageable_id, imageable.id
      = hidden_field_tag :imageable_type, imageable.class.to_s
      %br
      = submit_tag "Upload", :class => "submit"
      = submit_tag "Cancel", :class => "close", :onclick => "upload_after(); return false;"
      = image_tag "/images/template/throbber.gif", :class => "throbber", :alt => "Loading..."

%iframe{:id => "upload_iframe", :name => "upload_iframe", :height => 1, :width => 1, :style => "display: none"}

