%ul.nav
  %li= link_to "News", posts_path
  %li= link_to "Forms", categories_path
  %li= link_to "About Stoneboat Pottery", "/about_stoneboat"
  %li= link_to "Pieces", pieces_path
  %li= link_to "About JoAnna", "/about_joanna"
  %li= link_to "Links", links_path
  %li= link_to "Wholesale", "/wholesale"
  %li= link_to "Contact", "/contact"
  - if RAILS_ENV == "development" && !current_user
    %li= link_to "Admin Login", "/admin/login"
