%div.post
  %h2.title= h piece.name

  %div.meta
    %p
      = h piece.updated_at.to_s(:short)
      = " - "
      = link_to "permalink", piece_path(piece.permalink)


  %div.entry
    = simple_format piece.description

    - if piece.for_sale?
      %p 
        = "This piece is for sale for #{number_to_currency(piece.price)}"

    = edit_entity_image(edit_admin_piece_path(piece), "Edit this piece") if current_user

  %div.clear
