%div.post
  %h2.title= h piece.name

  %div.entry
    = simple_format piece.description

    %p
      For Sale: 
      = piece.for_sale?
    - if piece.for_sale? && ! piece.price.blank?
      %p
        Price: 
        = piece.price

    %p= link_to "View", piece_path(piece)

