%div.post
  %h2.title= h piece.name

  %div.meta
    %p
      = h piece.updated_at.to_s(:simple_short)
      = " - "
      = link_to "permalink", polymorphic_path(lineage)

  %div.entry
    = images_for piece
    %br
    %br

    %p
      %label Price
      %em
        - if piece.sold?
          This piece was sold for
          = number_to_currency piece.price
        - elsif piece.for_sale?
          = number_to_currency piece.price
        - else
          This piece is not for sale

    %br
    %p= auto_link(simple_format(piece.description))

  %div.clear
