%div.post_header
  %h2.title= lineage.last.display_type(true).upcase_words

- if @pieces.blank?
  .post
    %h3.title None
- else
  - @pieces.each do |piece|
    %div{:class => cycle("preview_row_odd","preview_row_even")}
      .image= thumb_for(piece.images.primary, polymorphic_path(piece), :alt => piece.name)
      .body
        %h3= link_to(piece.name, polymorphic_path(piece))
        %p
          = simple_format piece.description
          - if piece.sold?
            This piece is sold.
          - elsif piece.for_sale?
            This piece is for sale for #{number_to_currency(piece.price)}.
      .clear
  %div.post-footer.center
    = will_paginate @pieces

- if current_user
  %div.post
    %div.footer
      - if @inactive_pieces.any?
        %p * Plus #{@inactive_pieces.size} #{@inactive_pieces.size == 1 ? "#{@inactive_pieces.first.display_type} that is" : "#{@inactive_pieces.first.display_type(true)} that are"} not active.
      %p= show_entity_image(polymorphic_path([:admin, lineage].flatten), "Show all #{lineage.last.display_type(true)}")
