%div.post
  %h2.title About Stoneboat

  %div.entry
    = images_for @about_stoneboat, :align => :right

    = simple_format @about_stoneboat.body

  .clear

- if current_user
  %div.post
    %div.footer
      %p
        = edit_entity_image(edit_admin_block_path(@about_stoneboat), "Edit this block")

%div.post
  %h2.title About JoAnna

  %div.entry
    = images_for @about_joanna, :align => :right

    = simple_format @about_joanna.body

  .clear

- if current_user
  %div.post
    %div.footer
      %p
        = edit_entity_image(edit_admin_block_path(@about_joanna), "Edit this block")
