%p
  = f.label :title
  = f.text_field :title

%p
  = f.text_area :body, :rows => 15, :cols => 70

- if f.object.permalink
  %p
    = f.label :permalink
    %span.bold= f.object.permalink

- if f.object.new_record?
  %p
    = f.fields_for :image_attributes do |ff|
      = ff.file_field :image
