%div.post
  %h2.title Categories

  %div.entry
    %p
      = new_entity_image(new_admin_category_path, "Create new category")

    - if @categories.blank?
      %h3 None here
    - else
      %table.data
        %tr
          %th Name
          %th Description
          %th Active?
          %th Subcategories
          %th Number of Forms
          %th Actions
        - @categories.each do |category|
          %tr{:class => cycle("odd","even")}
            %td= link_to category.name, admin_category_path(category)
            %td= link_to truncate(category.description, :length => 120, :omission => " (more..)"), admin_category_path(category)
            %td= boolean_wrapper(category.active?)
            %td
              - category.subcategories.each do |subcategory|
                = link_to(subcategory.name, admin_category_subcategory_path(category, subcategory))
            %td= category.count_forms
            %td{:width => 46}
              = edit_entity_image(edit_admin_category_path(category))
              = delete_entity_image(admin_category_path(category))
