%h2 Show Category

%h3= h @category.name

%p= h @category.description

%p
  permalink:
  = h @category.permalink

%p
  Active:
  = @category.active?

%h3 Subcategories

= render :partial => "admin/categories/subcategories/subcategories", :object => @category

