%div.post
  %h2.title= h @category.name

  %div.entry
    = simple_format @category.description

    %p
      %label permalink
      %span.bold= h @category.permalink

    %p
      %label Active:
      = @category.active?

%div.post
  %h2.title
    Subcategories under
    = h @category.name

  %div.entry
    %p
      = new_entity_image(new_admin_category_subcategory_path(@category), "Create new subcategory under #{@category.name}")

    = render :partial => "admin/subcategories/subcategories", :object => @category

  %div.actions
    - index_entity_image(admin_categories_path, "Back to all categories")

