%h2 Show Category

%h3= h @category.name

%p= h @category.description

%p
  permalink:
  = h @category.permalink

%p
  Active:
  = @category.active?

%h3 Subcategories

%p
  = link_to "Create new subcategory", new_admin_category_subcategory_path(@category)

= render :partial => "admin/subcategories/subcategories", :object => @category

