%p
  = f.label :name
  = f.text_field :name

%p
  = f.label :description
  %div.clear
  = f.text_area :description, :rows => 8, :cols => 70

- if f.object.permalink
  %p
    = f.label :permalink
    %span.bold= f.object.permalink

%p
  = f.label :active, "Active?"
  = f.check_box :active

%p
  = f.label :retail_price, "Price"
  = f.text_field :retail_price, :size => 6, :maxlength => 6
