- sub = forms
- if sub.forms.blank?
  None
- else
  %table.data
    %tr
      %th Name
      %th Description
      %th Active?
      %th Actions
    - sub.forms.each do |form|
      %tr{:class => cycle("odd","even")}
        %td= link_to form.name, admin_category_subcategory_form_path(form.category, form.subcategory, form)
        %td= link_to form.description, admin_category_subcategory_form_path(form.category, form.subcategory, form)
        %td= boolean_wrapper(form.active?)
        %td{:width => 46}
          = edit_entity_image(edit_admin_category_subcategory_form_path(form.category, form.subcategory, form))
          = delete_entity_image(admin_category_subcategory_form_path(form.category, form.subcategory, form))

