%div.post
  %h2.title Edit Form

  %div.entry
    - form_for [:admin, @category, @subcategory, @form] do |f| 
      = render :partial => 'admin/forms/form', :locals => {:f => f}
      = f.submit "Save"

    %br 
    = render :partial => "shared/images_edit", :locals => { :imageable => @form }

  %div.actions
    = index_entity_image(admin_category_subcategory_path(@category, @subcategory), "Back to subcategory #{@subcategory.name}")
    %br
    = show_entity_image(admin_category_subcategory_form_path(@category, @subcategory, @form), "Show this form")
    %br
    = delete_entity_image(admin_category_subcategory_form_path(@category, @subcategory, @form), "Delete this form")

