%div.post
  %h2.title
    New Form under
    = h @subcategory.name
    and
    = h @category.name

  %div.entry
    = form_for [:admin, @category, @subcategory, @form], :method => :post do |f| 
      = render :partial => 'admin/forms/form', :locals => {:f => f}
      = f.submit "Create"

  %div.actions
    = index_entity_image(admin_category_subcategory_path(@category, @subcategory), "Back to all forms under subcategory #{@subcategory.name}")
