%div.post
  %h2.title
    = h @form.name
    under 
    = h @form.subcategory.name
    and
    = h @form.category.name

  %div.entry
    = auto_link(simple_format(@form.description))

    %p
      %label Permalink
      %span.bold= h @form.permalink

    %p
      %label Active:
      = @form.active?

    %p
      %label Retail Price:
      = number_to_currency @form.retail_price

    %p
      %label Wholesale Price:
      = number_to_currency @form.wholesale_price

  %div.actions
    = index_entity_image(admin_category_subcategory_path(@form.category, @form.subcategory), "Back to subcategory #{@form.subcategory.name}")
    %br
    = edit_entity_image(edit_admin_category_subcategory_form_path(@form.category, @form.subcategory, @form), "Edit this form")
    %br
    = delete_entity_image(admin_category_subcategory_form_path(@form.category, @form.subcategory, @form), "Delete this form")
