%div.post
  %h2.title
    = h @form.name
    under 
    = h @form.subcategory.name
    and
    = h @form.category.name

  %div.entry
    = simple_format @form.description

    %p
      %label permalink
      %span.bold= h @form.permalink

    %p
      %label Active:
      = @form.active?

  %div.actions
    - index_entity_image(admin_category_subcategory_path(@form.category, @form.subcategory))
    = link_to "Back to subcategory #{@form.subcategory.name}", admin_category_subcategory_path(@form.category, @form.subcategory)
