%div.post
  %h2.title= h @form.name

  %div.entry
    = simple_format @form.description

    %p
      Price:
      = @form.retail_price
      - if wholesale?
        %br
        Wholesale Price:
        = @form.wholesale_price

    = edit_entity_image(edit_admin_category_subcategory_form_path(@category, @subcategory, @form), "Edit this form") if current_user
