%div.post
  %h2.title= h @form.name

  %div.meta
    %p
      = h @form.updated_at.to_s(:simple_short)

  %div.entry
    = images_for @form
    %br
    %br

    %p
      %label Price
      %em= number_to_currency @form.retail_price
      - if wholesale?
        %p
          %label Wholesale Price:
          %em= number_to_currency @form.wholesale_price

    %br
    %p= auto_link(simple_format(@form.description))

- if current_user
  %div.post
    %div.footer
      %p
        = edit_entity_image(edit_admin_category_subcategory_form_path(@category, @subcategory, @form), "Edit this form")
        %br
        = show_entity_image(admin_category_subcategory_form_path(@category, @subcategory, @form), "Show this form")
    
