%div.post
  %h2.title= h post.title

  %div.meta
    %p
      = h post.updated_at.to_s(:short)
      = " - "
      = link_to "permalink", post_path(post.permalink)

  %div.entry
    = image_for post
    = simple_format post.body

  %div.clear