%div.post
  %h2.title Images

  %div.entry
    = new_entity_image(new_admin_image_path, "Create new image")

    %table
      %tr
        %th Filename
        %th Dimensions
        %th Thumbnail
        %th Actions
      - @images.each do |image|
        %tr
          %td= image.public_filename
          %td= "#{image.height} x #{image.width}"
          %td= image.thumbnail
          %td
            None

