%div.post
  %h2.title Categories of Functional Pieces

- if @block
  .post
    .entry
      = auto_link(simple_format(@block.body))
    
- if @categories.blank?
  .post
    %h3.title None
- else
  - @categories.each do |category|
    %div{:class => cycle("preview_row_odd","preview_row_even")}
      .image= thumb_for(category.image, category_path(category), :alt => category.name)
      .body
        %h3= link_to(category.name, category_path(category))
        %p
          = simple_format category.description
      .clear

- if current_user
  %div.post
    %div.footer
      - if @inactive_categories.any?
        %p.italic (Plus #{@inactive_categories.size} #{@inactive_categories.size == 1 ? "category that is" : "categories that are"} not active.)
      %p= show_entity_image(admin_categories_path, "Show all categories")
