= render :partial => "forms/breadcrumbs"

%div.post
  %h2.title= h @category.name

  %div.entry
    %ul.menu
      - @subcategories.each do |subcategory|
        %li
          = link_to subcategory.name, category_subcategory_path(subcategory.category, subcategory)
          = ":"
          = h subcategory.description

