%div.post
  %h2.title= h @category.name

- if @subcategories.blank?
  %div.entry
    %p None
- else
  - @subcategories.each do |subcategory|
    %div{:class => cycle("preview_row_odd","preview_row_even")}
      .image= thumb_for(subcategory.image, category_subcategory_path(@category, subcategory), :alt => subcategory.name)
      .body
        %h3= link_to(subcategory.name, category_subcategory_path(subcategory.category, subcategory))
        %p
          = simple_format subcategory.description
      .clear

- if current_user
  %div.post
    %div.footer
      - if @inactive_subcategories.any?
        %p.italic (Plus #{@inactive_subcategories.size} #{@inactive_subcategories.size == 1 ? "subcategory that is" : "subcategories that are"} not active.)
      %p
        = edit_entity_image(edit_admin_category_path(@category), "Edit this category")
        %br
        = show_entity_image(admin_category_path(@category), "Show this category")

