%div.post
  %h2.title= h @category.name

  %div.entry
    %ul.menu
      - @subcategories.each do |subcategory|
        %li
          = link_to subcategory.name, category_subcategory_path(subcategory.category, subcategory)
          = ":"
          = simple_format subcategory.description

- if current_user
  %div.post
    %div.footer
      - if @inactive_subcategories.any?
        %p * Plus #{@inactive_subcategories.size} #{@inactive_subcategories.size == 1 ? "subcategory that is" : "subcategories that are"} not active.
      %p
        = edit_entity_image(edit_admin_category_path(@category), "Edit this category")
        %br
        = show_entity_image(admin_category_path(@category), "Show this category")

